/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
 background-color: #FFFEF8;
 ;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
position: relative;
  z-index: 1;
}
.banner{
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
}


header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}


.filters {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  gap: 10px;
}

.projets{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
button {
  width: 15%;
  height: 40px;
  font-family: 'Syne';
  border-color: #1d6154;
  border-radius: 25px;
  background-color: white;
  border: 1px solid #1d6154;
  cursor: pointer;
  &:hover {
    background-color: #1d6154;
    color: white;
    border: transparent;
  }
}

.gallery {
  margin-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
  font-family: Syne;
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-align: center;
color: #1D6154;

}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);

}
#contact label {
  margin: 2em 0 1em 0;
  
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  /* margin: 2em; */
  margin-top: 300px;
}

/***login***/

li img{
  width: 20px;
}
.log {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 150px;
}


.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 250px;
  width: 50%;
 
  h2 {
    margin-bottom: 20px;
  }
  .label-container{
    width: 380px;
  }

  
  form {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
    input {

     
      margin-bottom: 35px;
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
      border: 0;
      height: 40px;
    
      }


      #button{
        cursor: pointer;
        width: 179px;
      }
  
    #email {
      width: 379px;
      background-color: #fff !important;
    
    }
    #password {
      width: 379px;
    }
   
    button {
      cursor: pointer;
      width: 179px;
      align-items: center;
      background-color: #1d6154;
      color: white;
      font-size: 1rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
      padding: 10px 20px;
      border-radius: 20px;
      border: none;
      
    }
  }

  .login form .inputErrorLogin {
    border: 1px solid red;
  }
  .login p {
    color: red;
  }
  .mpoublie{
    color: #3D3D3D;

  }